<launch>

    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch" />

    <!-- <node pkg="euclidean_cluster" type="euclidean_cluster_node" name="euclidean_cluster_node" output="screen">
        <param name="lidar_height" value="0.34" type="double"/>
        <param name="down_height" value="0.1" type="double"/>
        <param name="up_height" value="0.7" type="double"/>
        <param name="low_x" value="0.2" type="double"/>
        <param name="high_x" value="2.0" type="double"/>
        <param name="low_y" value="-0.5" type="double"/>
        <param name="high_y" value="0.5" type="double"/>
        <param name="in_cloud_topic" value="/velodyne_points" type="string" />
    </node> -->
    <include file="$(find ray_ground_filter)/launch/Yunlecar_ray_ground_filter.launch" />

    <node pkg="euclidean_cluster" type="euclidean_cluster_node" name="euclidean_cluster_node" output="screen">
        <param name="lidar_height" value="1.5" type="double"/>
        <!-- down_height 和 up_height分别是z的截取上下限,相对于雷达 -->
        <param name="down_height" value="-1" type="double"/>
        <param name="up_height" value="0.5" type="double"/>
        <param name="low_x" value="0" type="double"/>
        <param name="high_x" value="5" type="double"/>
        <param name="low_y" value="-0.5" type="double"/>
        <param name="high_y" value="0.5" type="double"/>
        <param name="in_cloud_topic" value="/ray_filter/velodyne_points_filtered" type="string" />
    </node>

    <!-- <include file="$(find state_machine)/launch/state_machine.launch" /> -->
</launch>
