<launch>

    <node pkg="state_machine" type="main.py" name="state_machine" output="screen">
        <rosparam command="load"  file="$(find state_machine)/params/smartcar.yaml"/>
    </node>

    <node pkg="ultra_sonic_driver" name="ultra_sonic_driver" type="ultra_HMX_CSB4P.py" output="screen">
        <param name="dev_port" type="string" value="/dev/ultrasonic_1"/>
        <param name="dev_baudrate" type="int" value="9600"/>
    </node>

</launch>
