<launch>

    <arg name="source_topic" default="twist_raw" />
    <arg name="target_topic" default="pure_pursuit" />

    <node pkg="twist_to_ecu" type="twist_to_ecu" name="twist_to_ecu" output="screen">
        <param name="source_topic" value="$(arg source_topic)"></param>
        <param name="target_topic" value="$(arg target_topic)"></param>
    </node>

</launch>