<launch>

    <arg name="htc_mapping_mode" default="gmapping" doc="opt: gmapping,hector,cartographer,karto,cartographer_3d,rtabmap,liosam | ndt" />

    <arg name="odom_frame_id"  default="odom"/>
    <arg name="htc_pcd_topic" default="point_cloud_raw"/>
    <arg name="htc_imu_topic" default="imu"/>
    <arg name="htc_laser_scan_topic" default="scan" />

    <!-- 2d 建图算法 -->

    <!-- 开启 gmapping 建图算法  -->
    <group if="$(eval htc_mapping_mode == 'gmapping')">
        <include file="$(find turn_on_robot_htc)/launch/include/2d_slam_gmapping.launch">
            <arg name="odom_frame"  value="$(arg odom_frame_id)"/>
            <arg name="scan_topic"  value="$(arg htc_laser_scan_topic)" />
        </include>
    </group>

    <!-- 开启 hector 建图算法  -->
    <group if="$(eval htc_mapping_mode == 'hector')">
        <include file="$(find turn_on_robot_htc)/launch/include/2d_slam_hector.launch">
            <arg name="odom_frame"  value="$(arg odom_frame_id)"/>
            <arg name="scan_topic"  value="$(arg htc_laser_scan_topic)" />
        </include>
    </group>

    <!-- 开启 karto 建图算法  -->
    <group if="$(eval htc_mapping_mode == 'karto')">
        <include file="$(find turn_on_robot_htc)/launch/include/2d_slam_karto.launch" />
    </group>

    <!-- 开启 cartographer 建图算法  -->
    <group if="$(eval htc_mapping_mode == 'cartographer')">
        <include file="$(find turn_on_robot_htc)/launch/include/2d_slam_cartographer.launch" />
    </group>

    <!-- 3d 建图算法 -->

    <!-- rtabmap 3d 建图算法 -->
    <!-- TODO 当前环境暂时存在缺失 rgb 图的情况 -->
    <group if="$(eval htc_mapping_mode == 'rtabmap')">
        <!-- 开启3d 建图 -->
        <include file="$(find turn_on_robot_htc)/launch/include/rtabmap_mapping.launch" />
    </group>

    <!-- cartographer 3d  -->
    <!-- 待完善 -->
    <group if="$(eval htc_mapping_mode == 'cartographer_3d')">
        <!-- <include file="$(find cartographer_ros)/launch/3d_online.launch" /> -->
        <include file="$(find turn_on_robot_htc)/launch/include/cartographer_3d_map.launch" />
    </group>

    <!-- lio-sam 3d 建图 -->
    <group if="$(eval htc_mapping_mode == 'liosam')">
        <!-- <include file="$(find turn_on_robot_htc)/launch/include/liosam_mapping.launch" /> -->
        <include file="$(find lio_sam)/launch/run.launch" />
    </group>

    <!-- lego-loam 3d 建图 -->
    <group if="$(eval htc_mapping_mode == 'legoloam')">
        <include file="$(find lego_loam)/launch/run.launch" />
    </group>

    <group if="$(eval htc_mapping_mode == 'ndt')">
        <include file="$(find ndt_mapping)/launch/ndt_mapping.launch"></include>
    </group>

    <!-- <node pkg="rviz" type="rviz" name="rviz" /> -->
    <!-- <node if="$(eval htc_mapping_mode != 'rtabmap')" pkg="rviz" type="rviz" name="rviz" args="-d $(find turn_on_robot_htc)/rviz/slam.rviz" /> -->
    <!--- Run Rviz-->
    <!-- <node if="$(eval htc_mapping_mode == 'rtabmap')" pkg="rviz" type="rviz" name="rviz" args="-d $(find turn_on_robot_htc)/rviz/3d_mapping.rviz" /> -->

</launch>