<launch>

    <arg name="htc_car_mode" default="" /> 
    <arg name="htc_nav_mode" default="" />
    <arg name="htc_map" default="test_2.yaml" />
    <arg name="htc_laser_scan_topic" default="/scan" />

    <!-- 设置用于导航的地图 -->
    <arg name="map_file" default="$(find turn_on_robot_htc)/map/$(arg htc_map)" />
    <node pkg="map_server" type="map_server" name="map_server_htc" args="$(arg map_file)" />

    <!-- MarkerArray功能节点> -->
    <node name='send_mark' pkg="turn_on_robot_htc" type="send_mark.py" />

    <!-- 导航算法 -->
    <group if="$(eval htc_nav_mode == 'navigation')">
        <!-- 开启用于导航的自适应蒙特卡洛定位amcl-->
        <include file="$(find turn_on_robot_htc)/launch/include/amcl.launch">
            <arg name="scan_topic" value="$(arg htc_laser_scan_topic)" />
        </include>
        <include file="$(find turn_on_robot_htc)/launch/include/move_base.launch">
            <arg name="htc_car_mode" value="$(arg htc_car_mode)" /> 
        </include>
    </group>

    <!-- 3d 导航算法 -->
    <group if="$(eval htc_nav_mode == 'rtabmap')">
        <include file="$(find turn_on_wheeltec_robot)/launch/include/amcl.launch" >
            <arg name="use_map_topic" value="true"/>
            <arg name="map_topic" value="/rtabmap/grid_map"/>
        </include>
        <include file="$(find turn_on_wheeltec_robot)/launch/include/rtabmap_nav.launch" />
        <param name="move_base/global_costmap/static_layer/map_topic"   type="string" value="/rtabmap/grid_map"/>
        <param name="move_base/local_costmap/static_layer/map_topic"    type="string" value="/rtabmap/grid_map"/>
    </group>

</launch>