<launch>

    <!-- 全局参数定义 -->
    <arg name="is_base" default="false" />

    <!-- 公共基础路径 -->
    <param name="base_dir" value="/home/robot/htc-robot-ros_ws/data" />
    <param name="parent_path" value="test" />
    <param name="child_path" value="t0" />

    <!-- lidar -->
    <!-- 激光雷达类型 -->
    <arg name="htc_lidar_mode" default="ls_C16" />
    <arg name="htc_lidar_scan_topic" default="/scan" />
    <arg name="htc_lidar_frame" default="rslidar"/>
    <arg name="htc_lidar_points_topic" default="/rslidar_points" />

    <param name="lidar_frame" value="rslidar"/>
    <param name="lidar_topic" value="/rslidar_points" />

    <!-- 激光雷达控制节点 -->
    <include file="$(find turn_on_robot_htc)/launch/lidar_htc.launch">
        <arg name="htc_lidar_frame" value="$(arg htc_lidar_frame)"/>
        <arg name="htc_lidar_mode" value="$(arg htc_lidar_mode)" />
        <arg name="htc_lidar_points_topic" value="$(arg htc_lidar_points_topic)" />
    </include>

    <!-- imu -->
    <arg name="htc_imu_mode" default="N100" />
    <arg name="htc_imu_frame" default="imu" />
    <arg name="htc_imu_topic" default="imu_raw"/>

    <!-- 发布 tf 坐标树 -->
    <!-- 0.37 0 0.275   -1.57 -->
    <node pkg="tf" type="static_transform_publisher" name="base_2_lidar" args="0.37 0 0.275 0 0 0 base_link rslidar 50" />
    <node pkg="tf" type="static_transform_publisher" name="base_2_imu" args="0 0 0 0 0 0 base_link imu_link 100" />

    <!-- ndt_param -->
    <arg name="tf_lidar_x"     value="0.37" />
    <arg name="tf_lidar_y"     value="0" />
    <arg name="tf_lidar_z"     value="0.275" />
    <arg name="tf_lidar_roll"  value="0" />
    <arg name="tf_lidar_pitch" value="0" />
    <arg name="tf_lidar_yaw"   value="0" />

    <param name="tf_x"     value="0.37" />
    <param name="tf_y"     value="0" />
    <param name="tf_z"     value="0.275" />
    <param name="tf_roll"  value="0" />
    <param name="tf_pitch" value="0" />
    <param name="tf_yaw"   value="0" />

    <!-- ndt_mapping -->
    <include file="$(find ndt_mapping)/launch/htc_ndt_mapping.launch">
        <arg name="x" value="$(arg tf_lidar_x)" />
        <arg name="y" value="$(arg tf_lidar_y)" />
        <arg name="z" value="$(arg tf_lidar_z)" />
        <arg name="roll" value="$(arg tf_lidar_roll)" />
        <arg name="pitch" value="$(arg tf_lidar_pitch)" />
        <arg name="yaw" value="$(arg tf_lidar_yaw)" />
        <arg name="use_imu" value="true"/>
        <arg name="lidar_frame" value="$(arg htc_lidar_frame)" />
        <arg name="lidar_topic" value="$(arg htc_lidar_points_topic)" /> 
    </include>

    <!-- ndt_localization -->
    <include file="$(find ndt_localizer)/launch/htc_ndt_localizer.launch">
        <arg name="x" value="$(arg tf_lidar_x)" />
        <arg name="y" value="$(arg tf_lidar_y)" />
        <arg name="z" value="$(arg tf_lidar_z)" />
        <arg name="roll" value="$(arg tf_lidar_roll)" />
        <arg name="pitch" value="$(arg tf_lidar_pitch)" />
        <arg name="yaw" value="$(arg tf_lidar_yaw)" />
        <arg name="use_imu" value="true"/>
        <arg name="lidar_frame" value="$(arg htc_lidar_frame)" />
        <arg name="lidar_topic" value="$(arg htc_lidar_points_topic)" /> 
    </include>

    <node pkg="grid_map_generator" type="pcd_grid_divider" name="pcd_grid_divider" output="screen">
    </node>

    <!-- pcb map manager -->
    <node pkg="pcd_map_manager" type="pcd_map_manager" name="pcd_map_manager" output="screen">
        <param name="margin" value="130.0" type="double" /> <!-- 需要加载的距离范围 m -->
        <param name="update_interval" value="1000" type="double" /> <!-- 时间更新间隔 ms -->
    </node>

    <!-- 全局路径规划 -->
    <node pkg="global_planning" type="traj_plan_dij.py" name="global_planning_dynamic" output="screen">
    </node>

    <!-- waypoint follower : 航迹点跟随 -->
    <node pkg="waypoint_follower" type="pure_persuit_node" name="pure_pursuit" output="screen" >
        <rosparam command="load"  file="$(find waypoint_follower)/params/config_htc.yaml"/>
    </node>    

    <!-- state machine : 车辆状态 -->
    <!-- 
        0x01: Wait（default）：待定 
        0x02: Start：开始 
        0x03: End：结束 
        0x04: Pause：暂停 
        0x05: Continue：继续 
    -->
    <node pkg="state_machine" type="main.py" name="state_machine" output="screen">
        <rosparam command="load"  file="$(find state_machine)/params/difei_nwd01.yaml"/>
    </node>

    <!-- can adapter : can 通讯适配器 -->
    <node pkg="can_adapter" type="can_adapter_node" name="can_adapter_node" output="screen">
        <param name="sub_topic" value="/pure_pursuit/ecu" />
        <param name="pub_topic" value="/ecu" />
        <param name="sub_status_topic" value="/SmartcarState" />
        <!-- <param name="sub_laser_urgent_obs" value="/detection/laser_combined_detect/simple" /> -->

        <rosparam command="load"  file="$(find can_adapter)/params/jd01.yaml"/>

        <!-- dist to start fixing speed (m/s) = limit speed * ratio (TODO::Use current_speed when vehicle status can publish)-->
        <param name="ratio_fix_speed" value="4" type="double" /> 
        <!-- <param name="dist_front_fix_speed" value="4" /> -->
        <param name="dist_front_stop" value="1.0" type="double"/>
        <!-- <param name="dist_back_fix_speed" value="/SmartcarState" /> -->
        <param name="dist_back_stop" value="1.0" type="double"/>

        <!-- Distance to enter ending process -->
        <param name="distance_ending_process" value="6.0" type="double"/>

        <!-- 最小和最大速度限制 -->
        <param name="min_speed_limit" value="0.1" type="double"/>
        <param name="max_speed_limit" value="1.0" type="double"/>
    </node>

    <!-- 点云聚类检测 -->
    <node pkg="euclidean_cluster" type="euclidean_cluster_node" name="euclidean_cluster_node" output="screen">
        <param name="lidar_height" value="0.7" type="double"/>
        <param name="down_height" value="-0.5" type="double"/>
        <param name="up_height" value="0.8" type="double"/>
        <param name="low_x" value="0.3" type="double"/>
        <param name="high_x" value="20" type="double"/>
        <param name="low_y" value="-8" type="double"/>
        <param name="high_y" value="8" type="double"/>
        <param name="in_cloud_topic" value="$(arg htc_lidar_points_topic)" type="string" />
    </node>

    <include file="$(find local_planner)/launch/rollout_generator_htc.launch" />
    <include file="$(find local_planner)/launch/local_trajectory_generator_htc.launch" />    

    <node pkg="visualization" type="visualization" name="visualization_node" output="screen">
        <param name="show_model_car" value="true" type="bool" />
        <param name="show_history_path" value="true" type="bool" />
        <param name="show_followed_path" value="true" type="bool" />
        <param name="show_default_pathes" value="true" type="bool" />
        <param name="path_dir" value="/home/data/yy/1" type="string" />
        <param name="dist_interval" value="0.2" type="double" />
    </node>

    <node pkg="rviz" type="rviz" name="Rviz" args="-d $(find turn_on_robot_htc)/rviz/yunle.rviz" required="true"/>

</launch>