<launch>

    <!-- <param name="robot_uuid" value="ZH100001" type="string"/> -->
    <rosparam file="$(find turn_on_robot_htc)/config/htc_common_param.yaml" command="load" />

    <!-- 是否开启 gazebo 仿真 -->
    <arg name="is_simulation" default="gazebo" doc="null gazebo" />

    <!-- 是否开启建图 -->
    <arg name="is_mapping" default="true" />
    <!-- 是否开启导航 -->
    <arg name="is_navigation" default="false" />

    <!-- 底盘类型｜车辆类型 -->
    <arg name="htc_car_mode" default="wheeltec_mini_akm" doc="opt:wheeltec_mini_akm yunle_small_bee_akm" /> 
    <!-- 建图类型 -->
    <!-- rtabmap: 修改 odom_frame_id = odom -->
    <arg name="htc_mapping_mode" default="gmapping" doc="opt: gmapping,hector,cartographer,karto,rtabmap,liosam" />
    <!-- 激光雷达类型 -->
    <arg name="htc_lidar_mode" default="ls_C16" />
    <!-- 双目深度相机类型 -->
    <arg name="htc_camera_mode" default="null" />
    <!-- IMU 惯导类型 -->
    <arg name="htc_imu_mode" default="N100" />

    <!-- 导航算法 -->
    <arg name="htc_nav_mode" default="teb_local_planner" />

    <!-- 控制类型 -->
    <arg name="htc_cmd_mode" default="steering" doc="opt: steering" />
    
    <arg name="repeat"  default="false"/>

    <!-- 里程计 framd_id -->
    <!-- odom_combined -->
    <arg name="odom_frame_id" default="odom"/>

    <!-- cmd topic -->
    <arg name="htc_cmd_topic" default="/cmd_vel"/>
    <!-- laser_scan topic -->
    <!-- C16 线的是 scan_raw 单线的是 scan -->
    <arg name="htc_laser_scan_topic" default="/scan"></arg>
    <!-- imu topic -->
    <arg name="htc_imu_topic" default="/imu"/>

    <!-- 底盘控制节点? -->

    <group if="$(eval is_simulation == 'null')">
        <!-- 开启底层单片机控制节点 -->
        <include file="$(find turn_on_robot_htc)/launch/include/base_serial.launch">
            <arg name="htc_car_mode" value="$(arg htc_car_mode)" /> 
            <arg name="htc_imu_mode" value="$(arg htc_imu_mode)" />
            <arg name="odom_frame_id"  value="$(arg odom_frame_id)" />
        </include>

        <!-- TF & 小车模型 节点 -->
        <include file="$(find turn_on_robot_htc)/launch/robot_model_htc.launch">
            <arg name="htc_car_mode" value="$(arg htc_car_mode)"/>
        </include>

        <!-- IMU惯导控制节点 -->
        <include file="$(find turn_on_robot_htc)/launch/imu_htc.launch">
            <arg name="htc_imu_mode" value="$(arg htc_imu_mode)" />
            <arg name="htc_imu_topic" value="$(arg htc_imu_topic)"/>
        </include>

        <!-- 激光雷达控制节点 -->
        <include file="$(find turn_on_robot_htc)/launch/lidar_htc.launch">
            <arg name="htc_lidar_mode" value="$(arg htc_lidar_mode)" />
        </include>

        <!-- 双目深度相机控制节点 -->
        <include if="$(eval htc_camera_mode != 'null')" file="$(find turn_on_robot_htc)/launch/camera_htc.launch">
            <arg name="htc_camera_mode" value="$(arg htc_camera_mode)" />
        </include>
    </group>

    <group if="$(eval is_simulation == 'gazebo')">
        <include file="$(find htcbot_gazebo)/launch/htcbot_gazebo.launch">
        </include>
    </group>

    <!-- 扩张卡尔曼滤波 发布odom_combined到footprint的TF,即小车定位 使用cartographer算法时不使用该滤波算法-->
    <!-- <include if="$(eval htc_mapping_mode != 'legoloam')" file="$(find turn_on_robot_htc)/launch/include/robot_pose_ekf.launch">
    </include> -->

    <!-- 建图控制节点 -->
    <include file="$(find turn_on_robot_htc)/launch/mapping_htc.launch" if="$(arg is_mapping)">
        <arg name="odom_frame_id" value="$(arg odom_frame_id)"/>
        <arg name="htc_laser_scan_topic" value="$(arg htc_laser_scan_topic)" />
        <arg name="htc_mapping_mode" value="$(arg htc_mapping_mode)"/>
    </include>

    <!-- 导航控制节点 -->
    <include file="$(find turn_on_robot_htc)/launch/navigation_htc.launch" if="$(arg is_navigation)">
        <arg name="htc_car_mode" value="$(arg htc_car_mode)"/>
        <arg name="htc_nav_mode" value="$(arg htc_nav_mode)"/>
    </include>

    <!-- 车辆终端控制节点 -->
    <!-- TODO keyboard 需要打开新窗口 不会 -->
    <include file="$(find turn_on_robot_htc)/launch/robot_cmd_htc.launch">
        <arg name="htc_cmd_topic" value="$(arg htc_cmd_topic)" />
        <arg name="htc_cmd_mode" value="$(arg htc_cmd_mode)" />
    </include>

    <!-- 可视化节点 -->
    
</launch>