<launch>
    <param name="data_base_folder" value="/home/honden01/Documents/data_yuquan" type="string"/>

    <node pkg="pcd_map_manager" type="pcd_map_manager" name="pcd_map_manager" output="screen">
        <!-- <param name="map_dir" value="/home/neo/Documents/automotive_data/map/dynamic_map/" type="string" /> -->
        <param name="margin" value="100.0" type="double" /> <!-- 需要加载的距离范围 m -->
        <param name="update_interval" value="1000" type="double" /> <!-- 时间更新间隔 ms -->
    </node>
    <node pkg="rviz" type="rviz" name="Rviz_for_map_manager" args="-d $(find pcd_map_manager)/rviz/test.rviz" />
</launch>