<launch>
    <node pkg="can_adapter" type="can_adapter_node" name="can_adapter_node" output="screen">
        <param name="sub_topic" value="/pure_pursuit/ecu" />
        <param name="pub_topic" value="/ecu" />
        <param name="sub_status_topic" value="/SmartcarState" />
        <!-- <rosparam command="load"  file="$(find can_adapter)/params/iron.yaml"/> -->
        <rosparam command="load"  file="$(find can_adapter)/params/yunlecar.yaml"/>

        <!-- dist to start fixing speed (m/s) = limit speed * ratio (TODO::Use current_speed when vehicle status can publish)-->
        <param name="ratio_fix_speed" value="4" type="double" />
        <!-- <param name="dist_front_fix_speed" value="4" /> -->
        <param name="dist_front_stop" value="2" type="double"/>
        <!-- <param name="dist_back_fix_speed" value="/SmartcarState" /> -->
        <param name="dist_back_stop" value="1" type="double"/>
        <!-- Distance to enter ending process -->
        <param name="distance_ending_process" value="4.0" type="double"/>

        <!-- 最小和最大速度限制 -->
        <param name="min_speed_limit" value="1.0" type="double"/>
        <param name="max_speed_limit" value="4.0" type="double"/>
    </node>
</launch>
