<launch>

    <arg name="scan_topic"  default="scan" />
    <arg name="base_frame"  default="base_footprint"/>
    <arg name="odom_frame"  default="odom"/>
    <arg name="map_frame"  default="map"/>
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping">
    
        <param name="base_frame" value="$(arg base_frame)" />
        <param name="map_frame" value="$(arg map_frame)" />
        <param name="odom_frame" value="$(arg odom_frame)" />
        <remap from="scan" to="$(arg scan_topic)"></remap>

        <!-- 参数配置 https://wiki.ros.org/gmapping 4.1.4 -->

        <!-- 接口相关 -->
        <!-- 底盘坐标系名称 base_frame(默认:base_link) -->
        <!-- 地图坐标系统名称 map_frame(默认:map) -->
        <!-- 里程计坐标系名称 odom_frame(默认:odom_link) -->

        <!-- 算法相关 -->
        <!-- 粒子滤波器的噪声标准差 sigma -->
        <!-- 粒子滤波器的优化迭代次数 iterations -->
        <!-- 占据栅格的阈值参数 occ_thresh -->

        <!-- 性能相关 -->
        <!-- 激光雷达射线的最大采纳范围 maxRange -->
        <!-- 激光雷达射线的最大有效距离 maxUrange -->
        <!-- 激光雷达扫描的跳线处理 lskip(默认:0) -->
        <!-- 激光雷达数据跳帧距离 throttle_scans(默认:1) -->
        <!-- 地图更新的时间间隔 map_update_interval(默认: 5s) -->
        <!-- 地图更新的移动距离阈值 linearUpdate(默认: 1.0m) -->
        <!-- 地图更新的旋转角度阈值 angularUpdate(默认: 0.5弧度) -->
        <!-- 地图尺寸 
            xmin(-100.0m)        地图的X轴负向边界
            xmax(100.0m)         地图的X轴正向边界
            ymin(-100.0m)        地图的Y轴负向边界
            ymax(100.0m)         地图的Y轴正向边界
            delta(0.05米/格)      栅格地图的分辨率
        -->

        <!-- 定位相关(越大越消耗算力) -->
        <!-- 滤波器的粒子数 particles(默认: 30) -->
        <!-- 粒子重采样阈值 resampleThreshold(默认: 0.5) -->

    </node>

</launch>