<launch>

    <arg name="htc_car_mode" default="yunle_small_bee_akm" doc="opt: yunle_small_bee_akm wheeltec_mini_akm" /> 
    <!-- IMU 惯导类型 -->
    <arg name="htc_imu_mode" default="N100" />

    <arg name="odom_frame_id"  default="odom_combined"/>

    <group if="$(eval htc_car_mode == 'wheeltec_mini_akm')">
        <node pkg="turn_on_robot_htc" type="htc_wheeltec_robot_node" name="htc_wheeltec_robot" output="screen" respawn="false">
            <param name="usart_port_name"    type="string" value="/dev/wheeltec_stm32"/>  
            <param name="serial_baud_rate"   type="int"    value="115200"/>
            <param name="odom_frame_id"      type="string" value="$(arg odom_frame_id)"/> 
            <param name="robot_frame_id"     type="string" value="base_footprint"/> 
            <param name="gyro_frame_id"      type="string" value="gyro_link"/> 
            <!-- 区分板载 IMU -->
            <remap if="$(eval htc_imu_mode == 'N100')" from="imu/data" to="imu/data/board"/>
        </node>
    </group>

    <group if="$(eval htc_car_mode == 'yunle_small_bee_akm')">
        <include file="$(find can_module_usb2can)/launch/can_bridge_nwd.launch" />
        <include file="$(find can_odometry)/launch/can2odom.launch" />
    </group>

</launch>