<launch>
    <node pkg="visualization" type="visualization" name="visualization_node" output="screen">
        <param name="show_model_car" value="true" type="bool" />
        <param name="show_history_path" value="true" type="bool" />

        <param name="show_followed_path" value="true" type="bool" />
        <param name="show_default_pathes" value="true" type="bool" />
        <param name="path_dir" value="/home/data/yy/1" type="string" />
        <param name="dist_interval" value="0.2" type="double" />
    </node>
</launch>
