<launch>
    <!--default定义的值可以在launch的时候通过命令行指定而被覆盖,而value定义的值不会-->
    <!-- <param name="use_sim_time" value="true" type="bool"/> -->
    <param name="lidar_frame" value="velodyne"/>
    <param name="lidar_topic" value="/velodyne_points"/>
    <arg name="imu_frame" value="/sensor/imu"/>
    <arg name="imu_topic" value="/sensor_imu"/>

    <node pkg="tf" type="static_transform_publisher" name="base2laser" args="0.15 0 0.34 0 0 0 base_link velodyne 100" />
    <!-- <node pkg="tf" type="static_transform_publisher" name="base2imu" args="0.157 0 0.235 0 0 0 base_link /sensor/imu 100"/> -->

    <arg name="vehicle_odom_topic" value="odom"/>
    <arg name="vehicle_twist_topic" value="/vehicle/twist"/>

    <arg name="use_odom" default="false" />
    <arg name="use_imu" default="false" />
    <arg name="imu_upside_down" default="false" />
    <arg name="incremental_voxel_update" default="false" />

    <arg name="method_type" default="1" /> <!-- pcl_generic=0, pcl_cpu=1, pcl_gpu=2, pcl_openmp=3 -->
    <arg name="ndt_res" default="0.5" />
    <arg name="step_size" default="0.1" />
    <arg name="trans_eps" default="0.01" />
    <arg name="max_iter" default="30" />
    <arg name="voxel_leaf_size" default="0.2" />
    <arg name="min_scan_range" default="2" />
    <arg name="max_scan_range" default="200" />
    <arg name="min_add_scan_shift" default="0.08" />

    <!-- set if filter transformed_scan_ptr before added to global map -->
    <arg name="is_filter_before_add_to_map" default="false" />
    <arg name="voxel_size_filter_before_add_to_map" default="0.2" />

    <node pkg="ndt_mapping" type="ndt_mapping" name="fast_ndt_mapping_node" output="screen">
        <!-- <param name="lidar_frame" value="$(arg lidar_frame)" />
        <param name="lidar_topic" value="$(arg lidar_topic)" /> -->

        <param name="method_type" value="$(arg method_type)" />
        <param name="use_imu" value="$(arg use_imu)" />
        <param name="use_odom" value="$(arg use_odom)" />
        <param name="imu_upside_down" value="$(arg imu_upside_down)" />
        <param name="imu_topic" value="$(arg imu_topic)" />
        <param name="incremental_voxel_update" value="$(arg incremental_voxel_update)" />

        <param name="ndt_res" value="$(arg ndt_res)" />
        <param name="step_size" value="$(arg step_size)" />
        <param name="trans_eps" value="$(arg trans_eps)" />
        <param name="max_iter" value="$(arg max_iter)" />
        <param name="voxel_leaf_size" value="$(arg voxel_leaf_size)" />
        <param name="min_scan_range" value="$(arg min_scan_range)" />
        <param name="max_scan_range" value="$(arg max_scan_range)" />
        <param name="min_add_scan_shift" value="$(arg min_add_scan_shift)" />
        <param name="is_filter_before_add_to_map" value="$(arg is_filter_before_add_to_map)" />
        <param name="voxel_size_filter_before_add_to_map" value="$(arg voxel_size_filter_before_add_to_map)" />
    </node>

    <!-- <node pkg="rviz" type="rviz" name="Rviz_for_ndt_mapping" args="-d $(find ndt_mapping)/rviz/ndt_mapping.rviz" /> -->
</launch>