<launch>
<node pkg="mapviz" type="mapviz" name="mapviz" required="true"/>
<node pkg="swri_transform_util" type="initialize_origin.py" name="initialize_origin" >
<param name="local_xy_frame" value="/map"/>
<param name="local_xy_origin" value="auto"/>
<rosparam param="local_xy_origin">
[{ name: swri,
latitude: 22.9711153333,
longitude: 113.905797,
altitude: 25.8,
heading: 0.0}]
</rosparam>
<remap from="fix" to="/fix"/>
</node>
  <node pkg="tf" type="static_transform_publisher" name="swri_transform" args="0 0 0 0 0 0 /map /origin 100"  />
  <node pkg="tf" type="static_transform_publisher" name="gps_transform" args="0 0 0 0 0 0 /map /gps 100"  />
  <node pkg="tf" type="static_transform_publisher" name="gpsfix_transform" args="0 0 0 0 0 0 /map navsat_link 100"  />
</launch>
