<?xml version="1.0"?>
<robot name="htcbot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find htcbot_description)/urdf/htcbot_base_gazebo.xacro" />
    <xacro:include filename="$(find htcbot_description)/urdf/sensors/lidar_gazebo.xacro" />
    <xacro:include filename="$(find htcbot_description)/urdf/sensors/kinect_gazebo.xacro" />
    <xacro:include filename="$(find htcbot_description)/urdf/sensors/imu_gazebo.xacro" />

    <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>
	<xacro:VLP-16 parent="base_link" name="velodyne" topic="/points_raw" hz="10" samples="440">
    	<origin xyz="0 0 0.20" rpy="0 0 0" />
	</xacro:VLP-16>
    
    <xacro:property name="lidar_offset_x" value="0" />
    <xacro:property name="lidar_offset_y" value="0" />
    <xacro:property name="lidar_offset_z" value="0.175" />
    
    <xacro:property name="kinect_offset_x" value="0.15" />
    <xacro:property name="kinect_offset_y" value="0" />
    <xacro:property name="kinect_offset_z" value="0.11" />
    
    <xacro:property name="imu_offset_x" value="0" />
    <xacro:property name="imu_offset_y" value="0" />
    <xacro:property name="imu_offset_z" value="0.1" />

    <joint name="lidar_joint" type="fixed">
        <origin xyz="${lidar_offset_x} ${lidar_offset_y} ${lidar_offset_z}" rpy="0 0 0" />
        <parent link="base_link"/>
        <child link="laser_link"/>
    </joint>
    
    <joint name="kinect_joint" type="fixed">
        <origin xyz="${kinect_offset_x} ${kinect_offset_y} ${kinect_offset_z}" rpy="0 0 0" />
        <parent link="base_link"/>
        <child link="kinect_link"/>
    </joint>
    
    <joint name="imu_joint" type="fixed">
        <origin xyz="${imu_offset_x} ${imu_offset_y} ${imu_offset_z}" rpy="0 0 0" />
        <parent link="base_link"/>
        <child link="imu_link"/>
    </joint>

    <xacro:rplidar prefix="laser"/>
	<xacro:kinect_camera prefix="kinect"/>
	<xacro:imu prefix="imu"/>

    <xacro:htcbot_base_gazebo/>

</robot>