<launch>

    <include file="$(find wpr_simulation)/launch/wpb_stage_slam.launch" />

    <node pkg="hector_mapping" type="hector_mapping" name="hector_mapping">

        <!-- 参数配置 https://wiki.ros.org/hector_mapping 3.1.4 -->

        <!-- 地图更新参数 -->
        <!-- 地图更新的移动距离阈值(单位:米) -->
        <param name="map_update_distance_thresh" value="0.4"/>
        <!-- 地图更新的旋转角度阈值(单位:弧度) -->
        <param name="map_update_angle_thresh" value="0.06" />
        <!-- 地图发布周期(单位:秒) -->
        <param name="map_pub_period" value="2.0" />

    </node>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find slam_pkg)/rviz/slam.rviz" />

    <node pkg="rqt_robot_steering" type="rqt_robot_steering" name="rqt_robot_steering" />

</launch>