<launch>
  <param name="use_sim_time" value="true" type="bool"/>
  <param name="data_base_folder" value="/home/neo/Documents/data_yuquan" type="string"/>
  <arg name="lidar_frame" value="laser_link"/>
  <arg name="lidar_topic" value="/lslidar_point_cloud"/>
  <node pkg="tf" type="static_transform_publisher" name="base2laser" args="0.3 0 0.4 0 0 0 1  base_link laser_link 100" />

  <arg name="imu_topic" default="/sdhy_attitude/imu" />
  <arg name="gps_topic" default="/sensor/sdhy_topic_gps/value" />
  <arg name="if_use_dynamic_points_map" default="false" />

  <node pkg="ndt_localization" type="ndt_localization_node" name="ndt_localization_node" output="screen">
      <rosparam file="$(find ndt_localization)/params/ndt_localization.yaml" />
      <param name="lidar_frame" value="$(arg lidar_frame)" />
      <param name="lidar_topic" value="$(arg lidar_topic)" />
      <param name="imu_topic" value="$(arg imu_topic)" />
      <param name="if_use_dynamic_points_map" value="$(arg if_use_dynamic_points_map)" />
  </node>

  <node pkg="rviz" type="rviz" name="Rviz_for_ndt_localization" args="-d $(find ndt_localization)/rviz/test.rviz" />

</launch>